<!-- <p>energy-indicator works!</p>
<button mat-button class="btnT" (click)="changeTheme()">
    Cambiar tema
</button> -->

<!-- <div class="rowCont"> -->
<!-- <div class="w50 centered ">
        <button (click)="changeEnergy(energy.id)" #energy id="energy" [ngClass]="!theme?'btnEnergy1':'btnEnergy2'">
            <i class="fa-solid fa-power-off icon"></i>
        </button>
    </div> -->
<!-- <div class="w100 centered"> -->
<div class="centered">
    <button (click)="changeEnergy(idN)" [id]="idN" [ngClass]="!theme?'btnEnergy1':'btnEnergy2'">
        <i [id]="idN +'flashIcon'" class="fa-solid fa-bolt iconFlash"></i>
        <i [id]="idN +'inner'"class="fa-solid fa-bolt eng"></i>
    </button>
</div>
<button hidden [id]="idN+'auxBtn'" (click)="aux(idN)"></button>
<!-- </div>
</div> -->