.tableCont {
    max-width: 100%;
    overflow: auto;
    width: 800px;
    max-height: 750px;
    border-radius: 18px;
    // width: 800px;
}

th {
    font-weight: 400 !important;
    font-size: 14px !important;
}

.sml {
    width: 80px !important;
}