<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer class="sideDrawer" #drawer mode="over">
        <!-- Interior del side bar -->
        <div class="drawerCont">
            <app-table></app-table>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="upBar">

            <button class="burgerBtn" mat-raised-button (click)="drawer.toggle()"><mat-icon>view_headline</mat-icon></button>
        </div>
        <router-outlet>
            <!-- <app-energy-indicator></app-energy-indicator> -->
            <!-- <app-temperature></app-temperature> -->
            <!-- <app-pressure></app-pressure> -->
            <!-- <app-pressure></app-pressure> -->
            <!-- <app-table></app-table> -->

            <app-home></app-home>
        </router-outlet>

    </mat-drawer-content>
</mat-drawer-container>