* {
    transition: all esae .3s;
}

body {
    height: 100%;
    width: 100%;
    background-color: #dbdee12a;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.flx {
    display: flex;
}

.jcAlc {
    justify-content: center;
    align-content: center;
}

td {
    padding: 10px !important;
    border-bottom: 1px solid #bdbdbd !important;
    text-align: center !important;
    background-color: transparent;
}

:host td {
    padding: 2px 5px !important;
    text-align: center !important;
}

th {
    padding: 5px !important;
    background-color: #1c3660;
    color: white !important;
    border-right: 1px solid #dedede;
    font-size: 16px !important;
    border-bottom: 1px solid white !important;
    text-align: center !important;
    width: 150px !important;
    font-weight: 200px !important;
}

table th:last-child {
    border-right: none !important;
}

tr {
    background-color: white;
    height: 39px !important;
}

tr:nth-child(even) {
    background: #dfdde9 !important;
}

table {
    border-radius: 7px;
    background-color: #1c3660;
    border: #1c3660 solid 1px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.17);
    border-collapse: collapse;
    max-height: 500px;
    overflow: hidden;
}

tbody tr {
    height: 20px !important;
    font-size: 12px !important;
}

.tableCont {
    overflow: auto;
}

.m0 {
    margin: 0!important;
}