* {
    transition: all esae .3s;
}

body {
    height: 100%;
    width: 100%;
    background-color: #dbdee12a;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.flx {
    display: flex;
}