<div class="cont">
    <div [ngClass]="danger?'on' : 'off'">
        <div [ngClass]="danger?'shine' : 'shineOff'">
            <div class="shiny"></div>
        </div>
    </div>
    <div class="centered">
        <!-- pipe area -->
        <div class="tempPipe">
            <!-- Pipe inside -->
            <div class="pipe">
                <div [id]="idT +'colorGrow'" class="pipColor"></div>
                <div class="messure"></div>
                <!-- <div class="space"></div>space -->
            </div>
        </div>
        <!-- bubble container -->
        <div class="bubble">
            <!-- BublesGlasses -->
            <div class="bubbleInside">
                <div [id]="idT+'bubble'" class="bubColor"></div>
            </div>
            <!-- ----sparks area---- -->
            <div class="spark"></div>
        </div>
    </div>
    <h4 class="weather" [id]="idT+'weather'"></h4>
</div>
<button [id]="idT+'btnTemp'" hidden (click)="temp(idT)">Cambiar temperatura</button>