<div class="cont">
    <div class="over">


        <mat-card class="gen">
            <div class="bacdrop">
                <!-- #region element 1 past -->
                <div class="btnCont" (click)="vertlDisp('display')">
                </div>
                <div class="flx jcAlc component1">
                    <div>
                        <div class="contElement">
                            <app-energy-indicator [idN]="'engPast'"></app-energy-indicator>
                        </div>
                        <div class="contElement">
                            <app-temperature [idT]="'tempPast'"></app-temperature>
                        </div>
                        <div class="contElement">
                            <app-pressure [idP]="'pressPast'"></app-pressure>
                        </div>
                    </div>
                </div>
                <div id="display" class="btnContDisplay">
                    <div class="w100 flx h100">
                        <div class="w100">
                            <div class="imgCont2">
                                <img src="../../assets/images/background/pasteurizador.jpeg" alt="" class="past">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->

                <!-- #region element 2 deacrem -->
                <div class="btnCont2" (click)="vertlDisp('display2')">
                </div>
                <div class="component2">
                    <app-energy-indicator [idN]="'engDeacrem'"></app-energy-indicator>
                </div>
                <div id="display2" class="btnCont2Display">
                    <div class="cont h100 m0">
                        <div class="w100 h100">
                            <div class="imgCont">
                                <img src="../../assets/images/background/descremador.jpeg" alt="" class="cuajo">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->

                <!-- #region element 3  estand-->
                <div class="btnCont3" (click)="display('display3')"></div>
                <div class="flx jcAlc compent3">
                    <div>
                        <div class="contComp">
                            <app-energy-indicator class="mt" [idN]="'engEst'"></app-energy-indicator>
                        </div>
                        <div class="contComp">
                            <app-temperature [idT]="'tempEst'"></app-temperature>
                        </div>
                    </div>
                </div>
                <div id="display3" class="btnCont3Display">
                    <div class="w100 flx h100">
                        <div class="w100">
                            <div class="imgCont2">
                                <img src="../../assets/images/background/estand.jpeg" alt="" class="est">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->

                <!-- #region element 4 cuajo -->
                <div class="btnCont4" (click)="display('display4')"></div>
                <div class="component4">

                    <app-energy-indicator class="mt" [idN]="'engCuajo'"></app-energy-indicator>

                </div>
                <div id="display4" class="btnCont4Display">
                    <div class="cont h100 m0">
                        <div class="w100 h100">
                            <div class="imgCont">
                                <img src="../../assets/images/background/cuajo.jpeg" alt="" class="cuajo">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #endregion -->


                <div class="btnCont5" (click)="display('display5')">
                </div>
                <div class="component5">
                    <div class="compCont">
                        <app-energy-indicator [idN]="'engSilo'"></app-energy-indicator>
                    </div>
                    <div class="compCont">
                        <app-pressure [idP]="'pressSilo'"></app-pressure>
                    </div>

                </div>
                <div id="display5" class="btnCont5Display">
                    <div class="cont">
                        <div class="w100 h100">
                            <div class="imgCont">
                                <img src="../../assets/images/background/silo.jpeg" alt="" class="w100">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>